.section {
    @extend %sectionPlace;

    &--hero {
        padding: 200px 0;
        text-align: center;
    }
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: $hero-bg-color;
    background-image: linear-gradient(rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
        url(../images/heroimg.jpg);
}

.hero__title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: $font-weight-extra;
    font-size: $font-size-xxxl;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-bg-color;
}

@import "./button";