.logo {
    font-family: $font-family-accent;
    font-weight: $font-weight-bold;
    font-size: $font-size-mobmail;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $logo-accent;
    
    &--header {
        padding: 16px 0;
    }

    &--footer {
        color: $primary-bg-color;

        @media screen and (max-width: $desktop) {
            text-align: center; 
        }
    }
    
    &__part {
        color: $accent-color;
    }

    @media screen and (min-width: $desktop) {
        font-size: $font-size-xl;
        line-height: 1.19;
    }
}
