.footer {
    padding: 60px 0;
    background-color: $footer-bg-color;

    @media screen and (min-width: $tablet) {
        &__wrapper {
            @include centeredFlex($items: baseline);
        }

        &__location {
            width: 50%;
        }
    }

    @media screen and (min-width: $desktop) {
        &__content {
            @include centeredFlex($items: baseline);
        }
    
        &__location {
            width: 231px;
        }
    } 
}

.action {

    @media screen and (max-width: $pretablet) {
        margin-top: 60px;
    }

    @media screen and (min-width: $tablet) and (max-width: $predesktop) {
        width: 50%;
    }
    
    @media screen and (min-width: $desktop) {
        margin-left: 70px;
        margin-right: 93px;
    }
    
    &__title {
        display: block;
        margin-bottom: 20px;
        font-size: $font-size-xs;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primary-bg-color;

        @media screen and (max-width: $predesktop) {
            text-align: center;
        }
    }
} 


@import "../components/address";
@import "../components/icon-set";
@import "../components/forms";