.footer {
    padding: 60px 0;
    background-color: $footer-bg-color;

    &__content {
        @include centeredFlex($items: baseline);
    }

    &__location {
        width: 231px;
    }
}

.action {
    margin-left: 70px;
    margin-right: 93px;

    &__title {
        display: block;
        margin-bottom: 20px;
        font-size: $font-size-xs;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primary-bg-color;
    }
} 

@import "../components/address";
@import "../components/icon-set";
@import "../components/forms";