$primary-bg-color: #FFFFFF;
$secondary-bg-color: #F5F4FA;
$hero-bg-color: #C4C4C4;
$prymary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$button-hover-color: #188CE8;
$border-line: #ECECEC;
$border-line-portfolio: #EEEEEE;
$icon-color: #AFB1B8;
$logo-accent: #000000;
$footer-bg-color: #2F303A;

$font-family-primary: "Roboto", "Montserrat", "Open Sans", sans-sarif;
$font-family-accent: "Raleway", sens-serif;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-extra: 900;
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-mobmail: 24px;
$font-size-xl: 26px;
$font-size-minimob: 30px;
$font-size-mobcontact: 34px;
$font-size-xxl: 36px;
$font-size-mobmenu: 40px;
$font-size-xxxl: 44px;